body {
    background-color: hsl(137, 49%, 45%);
    width: 50%;
    margin: auto;
    text-align: center;
}

a {
    font-size: 22px;
    color: black;
}

.icon {
    width: 1.5rem;
    height: 1.5rem;
}

.serving-text {
    font-style: italic;
    font-size: 18px;
}

.services-header {
    padding: 1rem;
}

.service-card {
    background-color: hsl(137, 46%, 35%);
    padding: 1rem;
    margin: 1rem auto;
    border-radius: 1rem;
    max-width: 30rem;
}

.service-description {
    margin: 0;
    max-width: 25rem;
}

.service-card-content {
    display: flex;
}

@media screen and (max-width: 700px) {
    .service-card-content {
        display: block;
    }
}

.service-thumbnail {
    max-width: 200px;
}

.contact-section {
    width: 50%;
    background-color: hsl(194, 76%, 49%);
    padding: 1rem;
    border-radius: 1rem;
    margin: auto;
}

.contact-section-header {
    margin: 0;
}

.nextdoor {
    margin: 1rem;
}

.nextdoor img {
    width: 30px;
}

.nextdoor p {
    margin: 5px;
}

.spacer {
    height: 5rem;
}
